.root {
  max-width: 1280px;
  margin: 0 auto;
  // margin: 150px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

.bgImage {
  min-height: 100vh;
  z-index: -1000;
  position: absolute;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(px);
}
