.root {
    margin: 100px auto;
    max-width: 1280px;
}

.actionRoot {
    margin: 100px 0;

    label {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .btn {
        background: dodgerblue;
        color: white;
        font-weight: 700;
        padding: 10px 30px;
        display: block;
        margin: 10px auto;
    }

    input {
        flex: none;
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ebebeb;
        border-radius: 8px;
        outline: 0;
        margin-bottom: 10px;

        &:focus {
            border: 1px solid dodgerblue;
        }
    }

    input[type='checkbox'] {
        width: 50px;
        margin-right: 15px;
    }

    textarea {
        &:focus {
            border: 2px solid dodgerblue !important;
            outline: none;
        }
    }

    .error-style {
        color: red;
        font-size: 12px;
        margin: -10px 0 10px 0;
    }
    .error-input {
        border: 1px solid red;

        :focus {
            outline: 1px solid red;
        }
    }

    .error {
        color: red;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;

        @media screen and (max-width: 767px) {
            font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 320px) / 1260));
        }
    }
}

.contentSingle {
    & > *:not(:last-child){
        margin-bottom: 25px;
    }
}

.innerContent {
    & > *:not(:last-child) {
        margin-bottom: 15px;
    }
    & > div:first-child {
        margin-top: 15px;
    }
    
    span, p {
        font-weight: bold;
        font-size: 15px;
    }
    div {
        line-height: 150%;
    }
}

.badge {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: gray;
}